





.font-primary {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-fortune {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
